
<fieldset width="750px">
  <legend align="center">
  Create account</legend>
  <form action="" align="center" >
  <p>
    <label for="name">Name:</label><br />
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="password">Password:</label><br />
    <input type="password" name="password" id="password" />
  </p>
  <p>
    <label for="email">EMail:</label><br />
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="dob">Date of Birth:</label><br />
    <input type="date" name="dob" id="dob" />
  </p>
  <button type="submit" name="button">Create Account</button>
</fieldset>
</form>
